{% for course in courses %}
    {% if loop.first %}
        <div id="Course-{{ course.id }}" class="row mt-1 mb-1 justify-content-center">
            <div class="col-12">
                {% if courses|length == 1 %}
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-5 text-center"><p>{% if course.logoName is not null %}<img src="" alt="{{ course.name }}">{% else %}{% endif %}{{ course.name|upper }}</p></div>
                        <div class="col-1"></div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-1"><a href="#" class="backwardSem"><i class="fa-duotone fa-backward"></i></a>&nbsp;</div>
                        <div class="col-5 text-center"><p>{% if course.logoName is not null %}<img src="" alt="{{ course.name }}">{% else %}{% endif %}{{ course.name|upper }}</p></div>
                        <div class="col-1"><a href="#" class="forwardSem"><i class="fa-duotone fa-forward"></i></a></div>
                    </div>
                {% endif %}
            </div>
            <div class="col-12" id="liste">
                {{ render(controller('App\\Controller\\Appli\\BookroomController::listbyCourse', {'idcourse':course.id})) }}
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#addBookroom" data-bs-whatever="{{ course.id }}">Nouvelle séance</button>
            </div>
        </div>
    {% elseif loop.last %}
        <div id="Course-{{ course.id }}" class="row mt-1 mb-1 justify-content-center" style="display: none;">
            <div class="col-12">
                <div class="row">
                    <div class="col-1"><a href="#" class="backwardSem"><i class="fa-duotone fa-backward"></i></a>&nbsp;</div>
                    <div class="col-4 text-center"><p>{% if course.logoName is not null %}<img src="" alt="{{ course.name }}">{% else %}{% endif %}{{ course.name|upper }}</p></div>
                    <div class="col-1"><a href="#" class="forwardSem"><i class="fa-duotone fa-forward"></i></a></div>
                </div>
            </div>
            <div class="col-12" id="liste">
                {{ render(controller('App\\Controller\\Appli\\BookroomController::listbyCourse', {'idcourse':course.id})) }}
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#addBookroom" data-bs-whatever="{{ course.id }}">Nouvelle séance</button>
            </div>
        </div>
    {% else %}
        <div id="Course-{{ course.id }}" class="row mt-1 mb-1 justify-content-center" style="display: none;">
            <div class="col-12">
                <div class="row">
                    <div class="col-1"><a href="#" class="backwardSem"><i class="fa-duotone fa-backward"></i></a>&nbsp;</div>
                    <div class="col-4 text-center"><p>{% if course.logoName is not null %}<img src="" alt="{{ course.name }}">{% else %}{% endif %}{{ course.name|upper }}</p></div>
                    <div class="col-1"><a href="#" class="forwardSem"><i class="fa-duotone fa-forward"></i></a></div>
                </div>
            </div>
            <div class="col-12" id="liste">
                {{ render(controller('App\\Controller\\Appli\\BookroomController::listbyCourse', {'idcourse':course.id})) }}
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#addBookroom" data-bs-whatever="{{ course.id }}">Nouvelle séance</button>
            </div>
        </div>
    {% endif %}
{% endfor %}