{% extends 'admin.html.twig' %}

{% block title %}room index{% endblock %}

{% block main %}
    {{ include('include/_blockuser.html.twig') }}
    <section id="blockAdmin">
        <div class="row mt-1 mb-1">
            <div class="col-12">
                <h2 class="text-end">Liste des salles</h2>
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Salle</th>
                            <th>Max Place</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for room in rooms %}
                        <tr>
                            <td>{{ room.name }}</td>
                            <td>{{ room.maxPlace }}</td>
                            <td>
                                <a href="{{ path('op_appli_room_show', {'id': room.id}) }}"><i class="fa-duotone fa-eye"></i></a>
                                <a href="{{ path('op_appli_room_edit', {'id': room.id}) }}"><i class="fa-duotone fa-pen-to-square"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('op_appli_room_new') }}">Create new</a>
            </div>
        </div>
    </section>
{% endblock %}
