{{ form_start(form) }}
<div class="mb-4">
    {# STRING : Ligne du prénom et du nom - Membre enseignant #}
    <div class="row mb-1 mt-1 g-1">
        <div class="col-12">
            {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Nom du courses'}}) }}
        </div>
    </div>
    {# STRING : Ligne du mail - Membre enseignant #}
    {% if app.request.attributes.get('_route') == 'op_appli_course_new' %}
    <div class="row mb-1 mt-1 g-1">
        <div class="col-12">
            {{ form_widget(form.teacher, {'attr': {'class': 'form-control form-control-sm', 'placeholder': "Nom de l'enseignant"}}) }}
        </div>
    </div>
    {# STRING : Ligne du mail du membre #}
    <div class="row mb-1 mt-1 g-1">
        <div class="col-12">
            {{ form_widget(form.level, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Niveau'}}) }}
        </div>
    </div>

    <div class="mt-4 mb-4">
        <button class="btn btn-sm btn-primary w-100">{{ button_label|default('Ajouter') }}</button>
    </div>
    {% endif %}
{{ form_end(form) }}
