<table class="table table-bordered">
    <thead>
    <tr>
        <th class="col-12">Séances</th>
    </tr>
    </thead>
    <tbody>
    {% for bookroom in bookrooms|filter(bookroom => bookroom.dateBookAt >= sem.monday and bookroom.dateBookAt <= sem.friday) %}
        <tr class="align-middle">
            <td>
                <a href="#" data-bs-toggle="modal" data-bs-target="#optionsBookroom" data-bs-whatever="{{ bookroom.id }}">{{ bookroom.dateBookAt ? bookroom.dateBookAt|format_datetime('full', 'none', locale='fr') : '' }}</a> |
                {{ bookroom.hourBookOpenAt ? bookroom.hourBookOpenAt|date('H:i') : '' }} -
                {{ bookroom.hourBookClosedAt ? bookroom.hourBookClosedAt|date('H:i') : '' }} |
                {% if bookroom.forme == "Presentiel" %}
                    <i class="fa-duotone fa-chalkboard-user"></i>
                {% else %}
                    <i class="fa-duotone fa-podcast"></i>
                {% endif %} |
                {{ bookroom.place - bookroom.registrations|length}}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">Pas de séances enregistrées</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
