{{ form_start(form) }}
<div class="mb-4">
    {# STRING : Ligne du prénom et du nom - Membre enseignant #}
    <div class="row mb-1 mt-1 g-1">
        <div class="col-5">
            {{ form_widget(form.firstName, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Prénom'}}) }}
        </div>
        <div class="col-7">
            {{ form_widget(form.lastName, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Nom'}}) }}
        </div>
    </div>
    {# STRING : Ligne du mail du membre #}
    <div class="row mb-1 mt-1 g-1">
        <div class="col-12">
            {% if app.request.attributes.get('_route') == 'op_admin_member_new' or app.request.attributes.get('_route') == 'op_admin_member_edit'%}
            {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Email'}}) }}
            {% elseif app.request.attributes.get('_route') == 'op_admin_member_teacher' or app.request.attributes.get('_route') == 'op_admin_member_edit'%}
                {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Email de l\'enseignant.e'}}) }}
            {% elseif app.request.attributes.get('_route') == 'op_admin_member_studient' or app.request.attributes.get('_route') == 'op_admin_member_edit'%}
                {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Email de l\'étudiant.e'}}) }}
            {% endif %}
        </div>
    </div>

</div>
<div class="mt-4 mb-4">
    {# STRING : Ligne du mail du membre #}
    <div class="row mb-1 mt-1 g-1">
        <div class="col-12">
            {{ form_widget(form.address, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Adresse'}}) }}
        </div>
    </div>
    {# STRING : Ligne du mail du membre #}
    <div class="row mb-1 mt-1 g-1">
        <div class="col-12">
            {{ form_widget(form.complement, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'complément'}}) }}
        </div>
    </div>
    {# STRING : Ligne du mail du membre #}
    <div class="row mb-1 mt-1 g-1">
        <div class="col-3">
            {{ form_widget(form.zipcode, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'CP'}}) }}
        </div>
        <div class="col-9">
            {{ form_widget(form.city, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Ville'}}) }}
        </div>
    </div>
</div>
<div class="mt-4 mb-4">
    {# STRING : Ligne du mail du membre #}
    <div class="row mb-1 mt-1 g-1">
        <div class="col-6">
            {{ form_widget(form.gsm, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Mobile*'}}) }}
        </div>
        <div class="col-6">
            {{ form_widget(form.home, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Domicile'}}) }}
        </div>
    </div>
    {# STRING : input Avatar du membre#}
    <div class="row mb-1 mt-1 g-1">
        <div class="col-12">
            {{ form_widget(form.avatarFile, {'attr':{'class':'form-control form-control-sm'}}) }}
        </div>
        {% if app.request.attributes.get('_route') == 'op_admin_member_edit' %}
        {% if member.avatarName is not null %}
        <div id="blockphoto">
            <div class="col-12 text-center">
                <img class="img-fluid img-thumbnail rounded" src="{{ asset('images/member/' ~ member.avatarName) }}" alt="{{ member.avatarName }}">
            </div>
            <div class="col-12 ">
                <div class="form-check d-flex justify-content-center">
                    <input class="form-check-input" type="checkbox" value="" id="SupprMedia">&nbsp;
                    <label class="form-check-label" for="SupprMedia">
                        Suppression de la photo ?
                    </label>
                </div>
            </div>
        </div>
        {% endif %}
        {% elseif app.request.attributes.get('_route') == 'op_admin_member_newteacher'%}
            {% if member.avatarName is not null %}
                <div class="col-12 text-center">
                    <img class="img-fluid" src="{{ asset('images/member/' ~ member.avatarName) }}" alt="{{ member.avatarName }}">
                </div>
            {% endif %}
        {% elseif app.request.attributes.get('_route') == 'op_admin_member_newstudent' %}
            {% if student.AvatarName is not null %}
                <div class="col-12 text-center">
                    <img class="img-fluid" src="{{ asset('images/member/' ~ student.avatarName) }}" alt="{{ student.avatarName }}">
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="mt-4 mb-4">
    <button class="btn btn-sm btn-primary w-100">{{ button_label|default('Ajouter') }}</button>
</div>
{{ form_end(form) }}
