{% extends 'admin.html.twig' %}

{% block title %}Edit Member{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){
            const SupprMedia = document.getElementById('SupprMedia')
            SupprMedia.addEventListener('change', function(){
                if (this.checked) {
                    console.log("Checkbox is checked..");
                } else {
                    console.log("Checkbox is not checked..");
                }
            })
        }
    </script>
{% endblock %}

{% block main %}
    {{ include('include/_blockuser.html.twig') }}
    <section id="blockAdmin">
        <div class="row mt-1 mb-1">
            <div class="col-12">
                <h2 class="text-end">Edition d'{% if member.typemember == 'Enseignant.e' %}enseignant.e{% elseif member.typemember == 'Etudiant.e' %}étudiant.e{% endif %}</h2>
                {{ include('admin/member/_form.html.twig') }}

                <a class="btn btn-primary" href="{{ path('op_admin_member_listteacher') }}">Retour à la liste</a>
                {{ include('admin/member/_delete_form.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}
