{% extends 'base.html.twig' %}

{% block title %}Member index{% endblock %}

{% block main %}
    <section id="blockUser">
        <div class="row mt-1 mb-1 align-items-center">
            <div class="col-3">
                <img src="{{ asset('images/svg/LogoIntro.svg') }}" class="img-fluid rounded-circle" alt="SansAvatar">
            </div>
            <div class="col-9">
                <h1 class="text-end" style="color: #FFFFFF;">Espace WebMaster</h1>
            </div>
        </div>
    </section>
<section id="blockAdmin">
    <div class="row mt-1 mb-1">
        <div class="col-12">
            <h2 class="text-end">Liste des étudiants</h2>
            <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td>{{ member.id }}</td>
                <td>{{ member.firstName }} {{ member.lastName }}</td>
                <td>{{ member.email }}</td>
                <td>
                    <a href="{{ path('op_admin_member_show', {'id': member.id}) }}">show</a>
                    <a href="{{ path('op_admin_member_edit', {'id': member.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('op_admin_member_new') }}">Create new</a>
        </div>
    </div>
</section>
{% endblock %}
