<div class="row">
    {# Affiche les séances comprisent entre le Lundi et le Vendredi #}
    {% for seance in seances|filter(seance => seance.dateBookAt >= sem.monday and seance.dateBookAt <= sem.friday) %}
        <div class="col-12 p-2 mt-2" style="border: 1px solid #fff;border-radius: 5px;">
            <b>{{ seance.dateBookAt|format_datetime('full', 'none', locale='fr') }}</b>
            {# Boucle sur les séances pésente à la date #}
            {% for b in bookrooms|filter(b => b.dateBookAt == seance.dateBookAt) %}
                <button
                    class="btn btn-sm
                    {% for r in registrations|filter(r => r.idbook == b.id) %}
                    btn-success
                    {% else %}
                    btn-secondary
                    {% endfor %}
                    "
                    data-bs-toggle="modal"
                    {% for r in registrations|filter(r => r.idbook == b.id) %}
                        data-bs-target="#DellRegistration"
                    {% else %}
                        data-bs-target="#AddRegistration"
                    {% endfor %}
                    {% for r in registrations|filter(r => r.idbook == b.id) %}
                        data-bs-whatever="{{ r.id }}"
                    {% else %}
                        data-bs-whatever="{{ b.id }}"
                    {% endfor %}

                    {% if b.registrations|length >= b.place %}disabled{% endif %}
                >
                    {{ b.hourBookOpenAt|date('H:i') }} - {{ b.hourBookClosedAt|date('H:i') }}
                </button>
            {% endfor %}
        </div>
    {% else %}
        <div class="col-12 p-2 mt-2" style="border: 1px solid #fff;border-radius: 5px;">
            <b>Pas de séance sur cette semaine</b>
        </div>
    {% endfor %}
</div>
