<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://kit.fontawesome.com/1fb9149f4c.js" crossorigin="anonymous"></script>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.js"></script>
        {% endblock %}
    </head>
    <body>

        <header class="d-lg-none">
            {#
            {% block header %}
                {{ include('include/_navbar.html.twig') }}
            {% endblock %}
            #}
        </header>

        <main class="d-lg-none">
            <div class="container-sm">
                {% block main %}
                <div class="row">
                    <div class="col-12 d-flex justify-content-center mt-5 mt-5">
                        <img src="{{ asset('images/svg/LogoIntro.svg') }}" class="img-fluid">
                    </div>
                    <div class="col-12 d-flex justify-content-center mt-5 mt-5">
                        <img src="{{ asset('images/svg/TitleEuréka.svg') }}" class="img-fluid">
                    </div>
                </div>
                {% endblock %}
            </div>
            <section id="modals">
                {% block modals %}
                    <!-- Réservation d'une séance au profil -->
                    <div class="modal fade" id="optionsUser" tabindex="-1" aria-labelledby="optionsUser" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="row pt-3 pb-3">
                                        <div class="col-12">
                                            <b>Espace de {{ app.user.firstName }} {{ app.user.lastName }}</b>
                                        </div>
                                    </div>
                                    <div class="row pt-3 pb-3">
                                        <div class="col-4">
                                            <div class="card">
                                                <div class="text-center mb-2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path style="fill: #92b923" d="M224 240a112 112 0 1 0 0-224 112 112 0 1 0 0 224zm-45.7 80C88.7 320 16 392.7 16 482.3c0 7.6 6.1 13.7 13.7 13.7h290c0 5.5 1 10.9 2.8 16H29.7C13.3 512 0 498.7 0 482.3C0 383.8 79.8 304 178.3 304h91.4c48 0 91.7 19 123.7 49.9l-11.3 11.3C353 337.2 313.3 320 269.7 320H178.3zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM356.7 507.2c-4-4-5.6-9.7-4.2-15.2l15-60.1c1.4-5.6 4.3-10.8 8.4-14.9L557.2 235.7c15.6-15.6 40.9-15.6 56.6 0l14.4 14.4c15.6 15.6 15.6 40.9 0 56.6L446.9 487.9c-4.1 4.1-9.2 7-14.9 8.4l-3.4-13.6 3.4 13.6-60.1 15c-5.5 1.4-11.2-.2-15.2-4.2zm15.7-28.9L368 495.8l17.6-4.4 42.5-10.6c2.8-.7 5.4-2.2 7.4-4.2L578.4 333.7l-48.3-48.3L387.2 428.3c-2 2.1-3.5 4.6-4.2 7.4l-10.6 42.5zM616.8 295.4c9.4-9.4 9.4-24.6 0-33.9L602.4 247c-9.4-9.4-24.6-9.4-33.9 0l-27.1 27.1 48.3 48.3 27.1-27.1z"/></svg>
                                                </div>
                                                <a class="stretched-link text-center green" href="{% if app.user.typemember == 'Administrateur' %}{{ path('op_admin_member_edit', {'id': app.user.id}) }}{% else %}{{ path('op_webapp_member_edit', {'id': app.user.id}) }}{% endif %}">Editer</a>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="card">
                                                <div class="text-center mb-2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path style="fill: #92b923" d="M287.2 328.4c15.4 4.9 31.8 7.6 48.8 7.6c88.4 0 160-71.6 160-160s-71.6-160-160-160s-160 71.6-160 160c0 17.1 2.7 33.5 7.6 48.8c1.8 5.7 .3 12-3.9 16.2L18.3 402.3c-1.5 1.5-2.3 3.5-2.3 5.7v80c0 4.4 3.6 8 8 8h80c4.4 0 8-3.6 8-8V448c0-8.8 7.2-16 16-16h40c4.4 0 8-3.6 8-8V384c0-8.8 7.2-16 16-16h40c2.1 0 4.2-.8 5.7-2.3L271 332.3c4.2-4.2 10.5-5.8 16.2-3.9zM336 352c-18.7 0-36.8-2.9-53.7-8.3L249 377c-4.5 4.5-10.6 7-17 7H208 192v16 24c0 13.3-10.7 24-24 24H144 128v16 24c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V408c0-6.4 2.5-12.5 7-17L168.3 229.7c-5.4-16.9-8.3-35-8.3-53.7C160 78.8 238.8 0 336 0s176 78.8 176 176s-78.8 176-176 176zm32-248a40 40 0 1 1 0 80 40 40 0 1 1 0-80zm24 40a24 24 0 1 0 -48 0 24 24 0 1 0 48 0z"/></svg>
                                                </div>
                                                <a class="stretched-link text-center green" href="#">Modifier</a>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="card">
                                                <div class="text-center mb-2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path style="fill: #CC1521" d="M509.7 261.7c3.1-3.1 3.1-8.2 0-11.3l-136-136c-3.1-3.1-8.2-3.1-11.3 0s-3.1 8.2 0 11.3L484.7 248 168 248c-4.4 0-8 3.6-8 8s3.6 8 8 8l316.7 0L362.3 386.3c-3.1 3.1-3.1 8.2 0 11.3s8.2 3.1 11.3 0l136-136zM184 48c4.4 0 8-3.6 8-8s-3.6-8-8-8L88 32C39.4 32 0 71.4 0 120L0 392c0 48.6 39.4 88 88 88l96 0c4.4 0 8-3.6 8-8s-3.6-8-8-8l-96 0c-39.8 0-72-32.2-72-72l0-272c0-39.8 32.2-72 72-72l96 0z"/></svg>
                                                </div>
                                                <a class="stretched-link text-center red" href="{{ path('op_public_security_logout') }}">Sortir</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </section>
        </main>
        <footer class="d-lg-none">
            <div class="container-sm">
            {% block footer %}
                <section id="blockCommand" class="mb-3">
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#optionsUser"><i class="fa-thin fa-user fa-2xl"></i></a>
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            {% if app.user.typemember == 'Administrateur' %}
                            <a href="{{ path('op_admin_dashboard_super') }}"><i class="fa-thin fa-gear fa-2xl"></i></a>
                            {% endif %}
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <a href="{% if app.user.typemember == 'Administrateur' %}{{ path('op_admin_dashboard_teacher') }}{% elseif app.user.typemember == 'Enseignant'%}{{ path('op_admin_dashboard_teacher') }}{% else %}{{ path('op_admin_dashboard_studient') }}{% endif %}"><i class="fa-thin fa-house fa-2xl"></i></a>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <div class="col-12">
                            <p class="text-center"><a href="https://www.openpixl.fr">OpenPixl</a> - <a href="khalikrea">KhaliKréa</a></p>
                        </div>
                    </div>
                </section>
            {% endblock %}
            </div>
        </footer>
    </body>
</html>
