<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="https://kit.fontawesome.com/1fb9149f4c.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="d-lg-none">
            {% block header %}
                {{ include('include/_navbar.html.twig') }}
            {% endblock %}
        </header>
        <main class="d-lg-none">
            <div class="container-sm">
                {% block main %}
                <div class="row">
                    <div class="col-12 d-flex justify-content-center mt-5 mt-5">
                        <img src="{{ asset('images/svg/LogoIntro.svg') }}" class="img-fluid">
                    </div>
                    <div class="col-12 d-flex justify-content-center mt-5 mt-5">
                        <img src="{{ asset('images/svg/TitleEuréka.svg') }}" class="img-fluid">
                    </div>
                </div>
                {% endblock %}
            </div>
        </main>
        <footer class="d-lg-none">
            <div class="container-sm">
            {% block footer %}
                <section>
                    <div class="row mb-1">
                        {% if app.request.attributes.get('_route') == 'op_appli_course_showforstudient' %}
                        <div class="col-12">
                            <a href="{{ path('op_admin_dashboard_studient') }}" class="btn btn-sm btn-primary w-100">Retour</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="text-center"><a href="https://www.openpixl.fr">OpenPixl</a> - <a href="khalikrea">KhaliKréa</a></p>
                        </div>
                    </div>

                </section>
            {% endblock %}
            </div>

        </footer>
    </body>
</html>
