{% extends 'admin.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block main %}
    {{ include('include/_blockuser.html.twig') }}
    <section id="blockStudient" class="mt-3">
        <div class="row mt-1 mb-3 justify-content-center">
            <div class="col-12">
                <h2 class="text-center">Je réserve mon cours</h2>
            </div>
        </div>
        {% for course in courses %}
        <div class="row mt-3 mb-3 justify-content-center">
            <div class="col-10" id="BlocCardCourses">
                <div id="BlocCourses">
                    <div class="svg">
                        <?xml version="1.0" encoding="utf-8"?>
                        <!-- Generator: Adobe Illustrator 25.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                        <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 298 51" style="enable-background:new 0 0 298 51;width:100%" xml:space="preserve">
                            <style type="text/css">
                                .st0{fill:none;}
                                .st1{fill:{{ course.color }};}
                                .st2{opacity:0.8;}
                                .st3{fill:#FFFFFF;}
                            </style>
                            <g id="Group_3_1_">
                                <g id="Group">
                                    <g id="Group_2">
                                        <g id="Group_8">
                                            <g id="Group_3">
                                                <rect id="Rectangle" x="8.1" class="st0" width="289.3" height="50.2"/>
                                                <g id="Group_4">
                                                    <path id="Vector" style="fill:{{ course.color }}" d="M293.2,2.8v42.7H16c0.5-0.5,0.8-1.1,0.8-1.8c0-0.2-0.2-0.4-0.4-0.4c-0.8,0.1-1.6,0.3-2.4,0.5
							c-0.1,0-0.1,0.1-0.2,0c0.5-0.2,1-0.5,1.4-0.7c1-0.6,2-1.2,2.9-1.9c0.1-0.1,0.1-0.2,0.1-0.3c-0.2-0.3-0.4-0.6-0.5-0.9
							c0-0.1-0.1-0.1-0.2-0.1c-0.5,0-0.9,0.1-1.2,0.1c-0.4,0.1-0.7,0.1-1.1,0.1c0.2-0.1,0.4-0.3,0.6-0.4c0.9-0.5,1.8-1,2.6-1.6
							c0.1-0.1,0.1-0.1,0.1-0.3c-0.1-0.2-0.2-0.5-0.2-0.7c0-0.1-0.1-0.1-0.2-0.1c-0.5,0.1-0.9,0.1-1.4,0.2c-1.2,0.1-2.3,0.2-3.5,0.3
							c-0.5,0.1-1,0.1-1.6,0.1c0.1-0.1,0.1-0.1,0.2-0.1c1-0.4,2-0.8,2.9-1.3c1.4-0.7,2.8-1.5,4.1-2.5c0.1,0,0.2-0.2,0.4-0.3
							c-0.3,0.7-0.7,1.4-1.3,2c0,0,0,0,0,0.1c1-0.9,1.7-1.8,2-3.1c0.2-0.9,0.3-1.9,0.7-2.7c0.5-1.1,1.2-2.2,2-3.2
							c2.1-3,3.7-6.2,4.1-9.9c0.1-1.2,0.1-2.5-0.1-3.7C25.8,9.6,24,7,21.3,5.1c-2-1.4-4.1-2.2-6.3-2.4L293.2,2.8L293.2,2.8z"/>
                                                </g>
                                            </g>
                                            <g id="Group_5" class="st2">
                                                <path id="Vector_2" class="st3" d="M26.4,13c-0.8-3.3-2.6-5.9-5.3-7.8c-2-1.4-4.1-2.2-6.3-2.4c-0.9-0.1-1.8-0.1-2.7,0
						c-0.8,0-1.6,0.2-2.5,0.4C6.2,4.1,3.6,6,1.8,9.1c-1.1,1.9-1.6,4-1.8,6.2c-0.2,2.1,0.1,4.2,1.1,6.1C2,23,2.9,24.6,3.8,26.2
						C5,28.3,6.1,30.4,5.9,33c0,0.1,0,0.2,0,0.3l0,0l0,0c0.1,0.7,0.5,1.3,1,1.8c0-0.1,0-0.1,0-0.1c-0.1-0.1-0.1-0.2-0.2-0.3
						c-0.3-0.4-0.5-0.9-0.6-1.4l2.5,0.5c3.2,0.4,6.1,0.2,9.3,0c-0.2,0.2-0.4,0.3-0.7,0.4c-1.2,0.7-2.5,1.4-3.8,2
						c-1.7,0.7-3.4,1.2-5.2,1.4c-0.2,0-0.4-0.1-0.5,0.1c-0.1,0.1,0,0.4,0,0.5c0,0.2,0,0.2,0.2,0.2c0.1,0,0.1,0,0.2,0
						c0.8,0.1,1.7,0.1,2.5,0.1c1.3,0,2.6,0,3.9-0.1c0.4,0,0.8-0.1,1.2-0.1c-0.1,0.1-0.1,0.1-0.2,0.2c-0.7,0.4-1.5,0.7-2.2,1
						c-1.5,0.7-3.1,1.1-4.8,1.3c-0.1,0-0.2,0.1-0.2,0.2c0,0.4,0.1,0.8,0.1,1.2c0,0.2,0.1,0.2,0.2,0.2c0.5,0,1.1-0.1,1.6-0.1
						c1.3-0.1,2.5-0.2,3.8-0.3c0.3,0,0.6-0.1,0.9-0.1l0,0c-1.4,0.9-2.8,1.7-4.3,2.3c-0.2,0.1-0.2,0.1-0.2,0.3
						c0.1,0.7,0.1,0.7,0.8,0.6c1.1-0.1,2.2-0.4,3.3-0.7c0.6-0.2,1.2-0.4,1.9-0.5c0,0.4-0.1,0.7-0.3,1c-0.1,0.2-0.3,0.4-0.5,0.6
						c-0.2,0.3-0.5,0.5-0.8,0.7c0,0.1,0,0.1,0,0.2v0.1c0.4-0.2,0.7-0.5,1.1-0.8c0.1-0.1,0.1-0.1,0.2-0.2c0.5-0.5,0.8-1.1,0.8-1.8
						c0-0.2-0.2-0.4-0.4-0.4c-0.8,0.1-1.6,0.3-2.4,0.5c-0.1,0-0.1,0.1-0.2,0c0.5-0.2,1-0.5,1.4-0.7c1-0.6,2-1.2,2.9-1.9
						c0.1-0.1,0.1-0.2,0.1-0.3c-0.2-0.3-0.4-0.6-0.5-0.9c0-0.1-0.1-0.1-0.2-0.1c-0.6,0-1,0.1-1.3,0.1c-0.4,0.1-0.7,0.1-1.1,0.1
						c0.2-0.1,0.4-0.3,0.6-0.4c0.9-0.5,1.8-1,2.6-1.6c0.1-0.1,0.1-0.1,0.1-0.3c-0.1-0.2-0.2-0.5-0.2-0.7c0-0.1-0.1-0.1-0.2-0.1
						c-0.5,0.1-0.9,0.1-1.4,0.2c-1.2,0.1-2.3,0.2-3.5,0.3c-0.5,0.1-1,0.1-1.6,0.1c0.1-0.1,0.1-0.1,0.2-0.1c1-0.4,2-0.8,2.9-1.3
						c1.4-0.7,2.8-1.5,4.1-2.5c0.1,0,0.2-0.2,0.4-0.3c-0.3,0.7-0.7,1.4-1.3,2c0,0,0,0,0,0.1c1-0.9,1.7-1.8,2-3.1
						c0.2-0.9,0.3-1.9,0.7-2.7c0.5-1.1,1.2-2.2,2-3.2c2.1-3,3.7-6.2,4.1-9.9C26.6,15.4,26.6,14.2,26.4,13z M13.5,32.7
						c0,0.4-0.1,0.7-0.1,1.1c-0.4,0-0.8,0-1.2,0.1c0-0.4-0.1-0.7-0.1-1.1c-0.1-1.6-0.3-3.1-0.8-4.6c-0.4-1.2-0.8-2.3-1.3-3.5
						s-1.4-2.1-2.7-2.6s-1.4-0.9-1.6-2.2c0-0.4-0.1-0.8-0.1-1.3v-0.5C5.8,18,6.4,17.9,7,17.7c0.1,0,0.1,0,0.2,0.1
						c0.2,0.1,0.4,0.1,0.5,0.2c0.2,0,0.3,0.1,0.4,0.1c0.1,0,0.2,0.1,0.2,0.1c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.2,0.2-0.4,0.3
						c-0.1,0.1-0.3,0.2-0.4,0.4c-0.1,0.1-0.3,0.3-0.4,0.4s-0.2,0.3-0.2,0.5s0,0.3,0,0.4c0.1,0.1,0.2,0.2,0.3,0.3
						c0.1,0.1,0.3,0.1,0.6,0.1c0.3,0,0.6-0.1,0.9-0.3c0.3-0.2,0.6-0.6,0.9-1c0.3-0.4,0.4-0.8,0.5-0.9c0,0.1,0,0.1,0,0.2
						S9.9,19,9.9,19s0.1,0.1,0.2,0.1c0.1,0,0.2,0,0.2-0.1c0.1,0,0.2-0.1,0.2-0.2c0.1-0.1,0.1-0.1,0.2-0.2c0.1-0.1,0.1-0.1,0.1-0.2
						c0,0.2,0,0.3,0,0.5c0.1,0.1,0.1,0.2,0.3,0.2c0.1,0,0.1,0,0.2-0.1c0.1,0,0.1-0.1,0.2-0.1c0.1-0.1,0.1-0.1,0.2-0.2
						c0.1-0.1,0.1-0.1,0.1-0.2c0,0,0,0,0.1-0.1s0.1-0.1,0.2-0.2c0.1-0.1,0.1-0.1,0.1-0.2c0.1-0.1,0.1-0.1,0.1-0.2
						c0.1-0.1,0.1-0.1,0.2-0.2l0.1-0.1l0.1-0.1c0.1,0,0.1,0.1,0.1,0.1v0.1c0,0,0,0.1-0.1,0.1c0,0,0,0,0,0.1
						c-0.1,0.1-0.2,0.2-0.2,0.3c-0.1,0.1-0.1,0.2-0.2,0.3c0,0.1,0,0.2,0,0.3c0,0.1,0.1,0.2,0.1,0.2c0.1,0.1,0.1,0.1,0.2,0.1
						c0.1,0,0.2,0,0.3-0.1c0.1,0,0.2-0.1,0.2-0.1c0.1-0.1,0.1-0.1,0.2-0.1c0-0.1,0.1-0.1,0.2-0.1l0,0v0.1c0,0.1,0,0.1,0.1,0.2
						l0.1,0.1c0.1,0,0.1,0,0.2,0.1c0.1,0,0.1,0,0.2,0c0.2,0,0.3,0,0.4-0.1c0.1-0.1,0.3-0.2,0.4-0.3l0.1-0.1v0.1c0,0.1,0,0.1,0,0.2
						s0.1,0.1,0.1,0.1h0.1c0,0,0.1,0,0.1-0.1v-0.1c0.1-0.1,0.1-0.2,0.2-0.3c0.1-0.1,0.2-0.3,0.3-0.4s0.2-0.3,0.3-0.4
						c0.1-0.1,0.2-0.2,0.3-0.3s0.2-0.1,0.2-0.2c0.1,0,0.1,0,0.1,0s0,0.1,0,0.2s-0.1,0.2-0.2,0.3c-0.1,0.1-0.2,0.2-0.3,0.3
						c-0.1,0.1-0.2,0.1-0.3,0.1c-0.1,0-0.1,0-0.1,0s0,0-0.1-0.1c-0.1,0.1-0.1,0.1-0.1,0.2s0,0.2,0,0.2c0,0.1,0.1,0.1,0.2,0.2
						c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.2,0,0.4,0c0.1,0,0.2-0.1,0.3-0.1c0.1-0.1,0.2-0.1,0.3-0.2c0.1-0.1,0.1-0.1,0.2-0.2v0.1
						c0,0.1,0.1,0.2,0.2,0.3C17.8,19,17.9,19,18,19s0.2-0.1,0.3-0.1c0.1-0.1,0.2-0.2,0.2-0.3c0.1-0.1,0.1-0.2,0.2-0.3
						c0,0.1,0,0.2-0.1,0.2c0,0.1,0,0.1,0,0.2s0,0.1,0.1,0.2c0,0.1,0.1,0.1,0.1,0.1s0.1,0.1,0.2,0.1s0.1,0,0.2-0.1
						c0.1,0,0.4-0.5,0.6-0.5v0.7c0,0.4,0,0.8-0.1,1.2c-0.1,0.8-0.7,1.3-1.4,1.6c-1.2,0.4-2.1,1.3-2.6,2.4c-0.9,1.7-1.5,3.6-1.8,5.5
						C13.7,30.8,13.6,31.8,13.5,32.7z M6.9,17.3c-0.1-0.1-0.3-0.1-0.4-0.2s-0.2-0.2-0.2-0.3c-0.1-0.2-0.1-0.3,0-0.5s0.1-0.3,0.3-0.5
						c0.1-0.2,0.3-0.3,0.5-0.5s0.4-0.3,0.6-0.4c0.2-0.1,0.5-0.3,0.7-0.4c0.2-0.1,0.5-0.2,0.7-0.3C9.3,14.1,9.5,14,9.7,14
						c0.2-0.1,0.3-0.1,0.4-0.1h0.1c0.1,0,0.1,0,0.1,0c0.1,0,0.1,0,0.1,0.1l0.1,0.1c0.1,0.2,0.1,0.4,0,0.7c-0.1,0.2-0.2,0.4-0.3,0.7
						c-0.1,0.2-0.3,0.4-0.5,0.6s-0.8,0.5-0.9,0.6C8.5,16.9,7.7,17.1,6.9,17.3C7,17.3,6.9,17.3,6.9,17.3z M13,16.9
						c0-0.1,0-0.1,0.1-0.2c0-0.1,0.1-0.1,0.1-0.1l0.1-0.1c0,0,0,0,0,0.1c0,0,0,0.1-0.1,0.1c0,0.1-0.1,0.1-0.1,0.2S13,17,13,17V16.9z
						 M17.9,18.5c0-0.1,0-0.1,0.1-0.2c0-0.1,0.1-0.2,0.1-0.3c0.1-0.1,0.1-0.2,0.2-0.3c0.1-0.1,0.1-0.1,0.2-0.2s0.2-0.1,0.2-0.2
						c0.1,0,0.1-0.1,0.2-0.1s0.1,0,0.1,0s0,0,0,0.1v0.1v0.1c0,0-0.1,0.1-0.1,0.2c-0.1,0.1-0.1,0.1-0.2,0.2s-0.1,0.2-0.2,0.3
						c-0.1,0.1-0.2,0.2-0.2,0.3c-0.1,0.1-0.1,0.1-0.2,0.2c-0.1,0-0.1,0.1-0.1,0.1C17.9,18.6,17.9,18.6,17.9,18.5z M25.5,16.5
						c-0.2,2.1-0.6,4.1-1.5,5.9c-0.9,1.7-1.8,3.3-2.8,4.9c-0.8,1.3-1.5,2.7-1.6,4.3c0,0.6-0.2,1.2-0.4,1.7c-0.1-0.1-0.4,0-0.6,0
						c-1.1,0.1-2.1,0.3-3.2,0.4c-0.5,0-0.9,0.1-1.4,0.1c0-0.5,0-1,0-1.5c0.1-0.7,0.2-1.3,0.3-2c0.2-1.4,0.6-2.7,1.1-4
						c0.3-0.8,0.7-1.6,1.1-2.3c0.4-0.8,1.1-1.2,1.9-1.5c1.4-0.6,1.7-1.1,1.9-2.6c0-0.5,0.1-1,0.1-1.5c0.8-0.1,1.5-0.5,2-1.2
						c0.6-0.7,0.8-1.7,0.5-2.5s-1.4-1-2.1-0.4c-0.4,0.4-0.6,0.8-0.8,1.3c0,0.1,0,0.3-0.1,0.4c0,0.2-0.1,0.4-0.1,0.6v1.3
						c-0.2,0.1-0.6,0.5-0.7,0.6c-0.1,0-0.1,0-0.1,0c-0.1-0.1,0-0.2,0-0.4c0-0.1,0.1-0.1,0.1-0.2s0.1-0.1,0.1-0.2s0.1-0.1,0.1-0.2
						s0.1-0.1,0.1-0.2c0,0,0,0,0-0.1c0,0,0-0.1-0.1-0.1L19.2,17h-0.1L19,17.1c0-0.1-0.1-0.2-0.1-0.2c-0.1,0-0.1-0.1-0.2-0.1
						s-0.3,0.1-0.4,0.1c-0.1,0.1-0.3,0.2-0.4,0.3c-0.1,0.1-0.2,0.3-0.3,0.4c0,0.1-0.1,0.2-0.1,0.2c-0.1,0.1-0.1,0.1-0.2,0.2
						s-0.2,0.1-0.2,0.2c-0.1,0.1-0.2,0.2-0.3,0.2c-0.1,0.1-0.2,0.1-0.4,0.1h-0.1c0,0,0,0-0.1,0l0,0l0,0c0.1,0,0.2,0,0.3-0.1
						c0.1-0.1,0.3-0.2,0.4-0.4c0.1-0.1,0.2-0.3,0.3-0.5c0.1-0.2,0.1-0.3,0-0.5c0-0.1-0.1-0.2-0.2-0.2c0.2,0.2,0.1,0.1,0,0.2
						c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0.1-0.2,0.1-0.3,0.2c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.2,0.2-0.3,0.4c0.1-0.2,0.2-0.5,0.4-0.7
						c0.1-0.2,0.3-0.4,0.4-0.6s0.3-0.4,0.4-0.6c0.1-0.2,0.2-0.3,0.4-0.5c0-0.1,0.1-0.1,0.1-0.1s0-0.1,0-0.2c0-0.1-0.1-0.1-0.1-0.1
						s-0.1,0-0.1,0.1c-0.1,0.1-0.1,0.2-0.2,0.3s-0.2,0.3-0.3,0.5c-0.1,0.2-0.3,0.4-0.4,0.6s-0.3,0.4-0.4,0.6c0,0-0.1,0.1-0.1,0.2
						c-0.1,0.1-0.1,0.2-0.2,0.4c-0.1,0.1-0.3,0.3-0.4,0.4c-0.2,0.2-0.4,0.3-0.6,0.4c-0.2,0-0.3,0-0.3-0.2v-0.1c0-0.1,0-0.1,0.1-0.2
						c0.2,0,0.4-0.1,0.6-0.2c0.2-0.1,0.4-0.2,0.5-0.3c0.1-0.1,0.2-0.2,0.2-0.3c0-0.1,0-0.2,0-0.3c0-0.1-0.1-0.1-0.1-0.2
						c-0.1-0.1-0.1-0.1-0.2-0.1c-0.1,0-0.2,0-0.4,0.1c-0.1,0.1-0.3,0.2-0.4,0.3c-0.1,0.1-0.2,0.3-0.3,0.4C14.1,17.8,14,17.9,14,18
						c0,0,0,0-0.1,0.1s-0.1,0.1-0.2,0.2c-0.1,0.1-0.1,0.1-0.2,0.2c-0.1,0.1-0.1,0.1-0.2,0.2c-0.1,0-0.1,0.1-0.1,0.1h-0.1v-0.1
						c0,0,0-0.1,0.1-0.1l0.5-0.7c0-0.1,0-0.1,0-0.2s-0.1-0.2-0.2-0.3c0,0,0,0-0.1,0c0,0,0,0-0.1,0c0.1-0.1,0.1-0.2,0.2-0.3
						c0.1-0.1,0.1-0.2,0.1-0.2c0-0.1,0-0.2,0-0.3c0-0.1-0.1-0.1-0.2-0.1c-0.1,0-0.1,0-0.2,0.1c-0.1,0.1-0.1,0.1-0.2,0.2
						s-0.1,0.2-0.1,0.3c0,0.1,0,0.2,0.1,0.3l-0.1,0.1c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.1,0.1-0.2,0.2l-0.1,0.1
						c-0.1,0.1-0.1,0.1-0.2,0.2c-0.1,0.1-0.2,0.1-0.2,0.2c-0.1,0.1-0.2,0.1-0.2,0.2c-0.1,0-0.1,0-0.1,0v-0.1c0-0.1,0-0.1,0.1-0.2
						c0-0.1,0.1-0.2,0.1-0.2c0-0.1,0.1-0.2,0.1-0.3c0-0.1,0.1-0.1,0.1-0.2c0.1-0.1,0.1-0.2,0.1-0.2l0.1-0.1c0,0,0-0.1,0-0.2
						S12.1,17,12.1,17S12,17,12,17.1s-0.1,0.1-0.1,0.2s-0.1,0.1-0.1,0.2c0,0,0,0.1-0.1,0.1c-0.1,0.1-0.1,0.2-0.2,0.3
						c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.2,0.1-0.2,0.2c-0.1,0-0.1,0-0.1,0v-0.1c0,0,0-0.1,0-0.2
						s0.1-0.2,0.1-0.2c0-0.1,0.1-0.2,0.1-0.3c0-0.1,0.1-0.1,0.1-0.2s0.1-0.2,0.1-0.2s0-0.1,0.1-0.1c0,0,0-0.1,0-0.2S11,17,11,17
						s-0.1,0-0.1,0.1c-0.1,0.1-0.1,0.2-0.2,0.4c-0.1,0.1-0.1,0.2-0.2,0.4c-0.5,0.2-1,1.1-1.2,1.4c-0.2,0.2-0.4,0.4-0.5,0.6
						c-0.2,0.2-0.4,0.3-0.6,0.4c-0.2,0.1-0.4,0.2-0.6,0.2c-0.1,0-0.2,0-0.3-0.1c-0.1,0-0.1-0.1-0.1-0.2s0-0.2,0-0.2
						c0-0.1,0-0.1,0.1-0.2s0.2-0.2,0.3-0.4C7.7,19.3,7.9,19.1,8,19c0.1-0.1,0.3-0.3,0.4-0.4c0.1-0.1,0.3-0.2,0.4-0.4v-0.1
						c0-0.1,0-0.1,0-0.1s0-0.1-0.1-0.1l-0.1-0.1c-0.1,0-0.2-0.1-0.4-0.1c-0.2-0.1-0.3-0.1-0.5-0.1c-0.1,0-0.2-0.1-0.3-0.1
						c0.9-0.2,1.6-0.5,2-0.7c0.3-0.2,0.7-0.4,0.9-0.6c0.2-0.2,0.4-0.4,0.5-0.6c0.1-0.2,0.2-0.5,0.3-0.7c0-0.3,0-0.5-0.1-0.8
						c0-0.1-0.1-0.2-0.2-0.3c-0.1-0.1-0.1-0.1-0.2-0.2c-0.1,0-0.2-0.1-0.3-0.1s-0.2,0-0.3,0s-0.3,0-0.5,0.1s-0.4,0.1-0.7,0.2
						c-0.2,0.1-0.5,0.2-0.7,0.3c-0.3,0.1-0.5,0.3-0.7,0.4C7.2,14.6,7,14.8,6.8,15s-0.4,0.4-0.5,0.6C6.1,15.8,6,16,5.9,16.2
						c0,0.2,0,0.4,0,0.6C6,17,6.1,17.1,6.3,17.2c0.1,0.1,0.2,0.2,0.3,0.2c-0.4,0.1-0.7,0.2-0.9,0.3v-0.6l0,0
						c-0.1-0.6-0.1-1.1-0.2-1.6c-0.1-0.6-0.4-1.1-1-1.3c-0.8-0.4-1.6-0.1-1.8,0.8c-0.3,1.1,0.3,2.8,1.5,3.2c0.3,0.1,0.7,0.1,1,0.2
						c0,0.2,0.1,0.4,0.1,0.6c0.1,0.6,0.1,1.3,0.2,1.9c0.2,1,0.9,1.5,1.8,1.9s1.6,1,2.1,1.8c1,1.7,1.6,3.6,1.9,5.6
						c0.2,1,0.2,2.1,0.4,3.1c0,0.2,0,0.3,0.1,0.6c-0.5,0-0.8,0-1.3,0s-3.2-0.4-4.2-0.5c0-0.2-0.1-0.5,0-0.7c0.2-1.6-0.1-3-0.8-4.4
						c-0.8-1.6-1.7-3.2-2.5-4.9c-0.5-1-1-2.1-1.4-3.1C1,18.7,1,17.1,1.2,15.4c0.1-2.4,0.7-4.5,2-6.4c2.7-3.8,6.6-5.3,11.1-5
						c3.2,0.2,5.9,1.6,8.1,4C24.7,10.4,25.8,13.2,25.5,16.5z M20.9,14.9c0.3-0.5,0.7-0.6,1.2-0.4c0.3,0.1,0.5,0.8,0.5,1.2
						c-0.2,1.2-1,1.8-2.2,2.2C20.3,16.8,20.3,15.8,20.9,14.9z M14.4,17.9c0.1-0.1,0.1-0.2,0.2-0.3c0.1-0.1,0.2-0.2,0.3-0.2
						c0.1-0.1,0.1-0.1,0.2-0.2c0.1,0,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.1,0v0.1l-0.1,0.1l-0.1,0.1c-0.1,0.1-0.2,0.2-0.4,0.3
						C14.7,17.8,14.5,17.9,14.4,17.9z M5.2,17.7c-1.1,0.2-1.9-0.6-2-1.7c-0.1-0.3,0-0.7,0.1-1.1c0.1-0.4,0.5-0.5,1-0.4
						c0.4,0.2,0.7,0.5,0.8,1C5,15.7,5,15.8,5,16C5.1,16.5,5.1,17.1,5.2,17.7z"/>
                                                <path id="Vector_3" class="st3" d="M19.7,26.3c-0.9,1.6-1.3,3.4-1.3,5.2c0.1-0.4,0.1-0.8,0.2-1.1c0.4-2,1.3-3.8,2.5-5.4
						c1.3-1.8,2.3-3.7,2.8-5.8c0.2-0.9,0.4-1.9,0.3-2.9c0,0-0.1,0-0.1,0.1s0,0.2-0.1,0.3c-0.5,2.6-1.4,5-2.8,7.2
						C20.7,24.6,20.1,25.4,19.7,26.3z"/>
                                                <path id="Vector_4" class="st3" d="M2.3,12.8C4.7,7.5,9,5.2,14.6,4.9C8.4,4.3,3.5,8.1,2.3,12.8z"/>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
</svg>
                    </div>
                    <div class="content">
                        <a href="{{ path('op_appli_course_showforstudient', {'id':course.id}) }}">{{ course.name|upper }}</a>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </section>
    <section>
        <div class="row mt-1 mb-3 justify-content-center">
            <div class="col-10">
                <h2 class="text-center">Mon Planning</h2>
                <a class="btn btn-primary w-100" href="{{ path('app_appli_registration_listbystudient', {'idstudient': app.user.id}) }}">Voir le calendrier</a>
            </div>
        </div>
    </section>
{% endblock %}
