{% extends 'admin.html.twig' %}

{% block title %}Euréka - Espace Webmaster{% endblock %}

{% block main %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    {% include('include/_blockuser.html.twig') %}
    <section id="blockAdmin">
        <div class="col-12">
            <h2 class="text-end">Ajout des éléments à l'application</h2>
        </div>
        <div class="row g-2 justify-content-center">
            <div class="col-10 pt-1 pb-1">
                <a class="btn btn-primary w-100" href="{{ path('op_admin_member_newteacher') }}">Ajout d'un Enseignant.e</a>
            </div>
            <div class="col-2 pt-1 pb-1">
                <a class="btn btn-primary w-100" href="{{ path('op_admin_member_listteacher') }}"><i class="fa-light fa-square-list fa-xl"></i></a>
            </div>
        </div>
        <div class="row g-2 justify-content-center">
            <div class="col-10 pt-1 pb-1">
                <a class="btn btn-primary w-100" href="{{ path('op_admin_member_newstudient') }}">Ajout d'un Etudiant</a>
            </div>
            <div class="col-2 pt-1 pb-1">
                <a class="btn btn-primary w-100" href="{{ path('op_admin_member_liststudient') }}"><i class="fa-light fa-square-list fa-xl"></i></a>
            </div>
        </div>
        <div class="row g-2 justify-content-center">
            <div class="col-10 pt-1 pb-1">
                <a class="btn btn-warning w-100" href="{{ path('op_appli_course_new') }}">Ajout d'une Matière</a>
            </div>
            <div class="col-2 pt-1 pb-1">
                <a class="btn btn-warning w-100" href="{{ path('op_appli_course_index') }}"><i class="fa-light fa-square-list fa-xl"></i></a>
            </div>
        </div>
        <div class="row g-2 justify-content-center">
            <div class="col-10 pt-1 pb-1">
                <a class="btn btn-warning w-100" href="{{ path('op_appli_room_new') }}">Ajout d'une salle</a>
            </div>
            <div class="col-2 pt-1 pb-1">
                <a class="btn btn-warning w-100" href="{{ path('op_appli_room_index') }}"><i class="fa-light fa-square-list fa-xl"></i></a>
            </div>
        </div>
        <div class="row g-2 justify-content-center mt-3">
            <div class="col-12 pt-1 pb-1">
                <a class="btn btn-success w-100" href="{{ path('op_admin_dashboard_teacher') }}">Accéder à son Administration</a>
            </div>
        </div>
        <div class="row g-2 justify-content-center mt-3">
            <div class="col-12 pt-1 pb-1">
                <a class="btn btn-success w-100" href="{{ path('op_admin_mailer_test') }}">Envoyer un mail</a>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}
